# Transparent item models
public net.minecraft.client.renderer.RenderStateShard name # name
public net.minecraft.client.renderer.RenderType$CompositeRenderType
public net.minecraft.client.renderer.RenderType$CompositeRenderType state # renderState
public net.minecraft.client.renderer.RenderType$CompositeState textureState # texture
public net.minecraft.client.renderer.RenderStateShard$TextureStateShard texture # texture
 # tree related stuff
public net.minecraft.world.level.levelgen.feature.foliageplacers.FoliagePlacerType <init>(Lcom/mojang/serialization/MapCodec;)V
public net.minecraft.world.level.levelgen.feature.trunkplacers.TrunkPlacerType <init>(Lcom/mojang/serialization/MapCodec;)V
